{
  "openapi": "3.0.1",
  "info": {
    "title": "OneWave API",
    "description": "OneWave Hackathon T17 Backend API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://onewave.syu-likelion.org"
    },
    {
      "url": "http://localhost:8206"
    }
  ],
  "tags": [
    {
      "name": "Idea",
      "description": "Idea registration and management API"
    },
    {
      "name": "Feed",
      "description": "Feed for ideas and AI analysis"
    },
    {
      "name": "Roadmap",
      "description": "Simple roadmap management"
    },
    {
      "name": "Startup Recommendation",
      "description": "Recommend startup support programs"
    },
    {
      "name": "Gemini Test",
      "description": "Simple test endpoint for Gemini API"
    },
    {
      "name": "AI Analysis",
      "description": "AI analysis for ideas"
    },
    {
      "name": "User",
      "description": "My page and user profile API"
    },
    {
      "name": "Auth",
      "description": "Authentication and email verification API"
    }
  ],
  "paths": {
    "/api/users/me/profile-image/upload": {
      "post": {
        "tags": ["User"],
        "summary": "Upload profile image",
        "description": "Upload profile image file and return its URL",
        "operationId": "uploadProfileImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileImageUploadResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users/me/password/email": {
      "post": {
        "tags": ["User"],
        "summary": "Request password change email",
        "description": "Send a verification code for password change",
        "operationId": "requestPasswordChangeEmail",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/test/gemini": {
      "post": {
        "tags": ["Gemini Test"],
        "summary": "Test Gemini",
        "description": "Send a prompt to Gemini and return the first text response",
        "operationId": "test",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiTestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiTestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/roadmaps": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "List roadmaps",
        "description": "List roadmaps created by the current user",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoadmapResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Roadmap"],
        "summary": "Create roadmap",
        "description": "Create a roadmap for the current user",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoadmapCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoadmapResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/ideas": {
      "get": {
        "tags": ["Idea"],
        "summary": "List my ideas",
        "description": "Get a list of ideas created by the current user",
        "operationId": "listMyIdeas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdeaResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Idea"],
        "summary": "Create idea",
        "description": "Register a new idea for the current user",
        "operationId": "createIdea",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdeaCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdeaResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/ideas/{ideaId}/analysis": {
      "get": {
        "tags": ["AI Analysis"],
        "summary": "Get analysis result",
        "description": "Get the latest analysis result for an idea",
        "operationId": "getAnalysis",
        "parameters": [
          {
            "name": "ideaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiAnalysisResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["AI Analysis"],
        "summary": "Analyze idea",
        "description": "Analyze an idea and store the result",
        "operationId": "analyze",
        "parameters": [
          {
            "name": "ideaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiAnalysisResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds": {
      "get": {
        "tags": ["Feed"],
        "summary": "List feeds",
        "description": "Get feed list with summary info",
        "operationId": "listFeeds",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedListItemResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Feed"],
        "summary": "Create feed",
        "description": "Register an idea and its AI analysis into the feed",
        "operationId": "createFeed",
        "requestBody": {
          "description": "Create feed with recruiting positions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedCreateRequest"
              },
              "example": {
                "ideaId": 1,
                "positions": [
                  {
                    "stack": "Frontend",
                    "capacity": 1
                  },
                  {
                    "stack": "Backend",
                    "capacity": 2
                  },
                  {
                    "stack": "AI",
                    "capacity": 1
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeedDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}/likes": {
      "post": {
        "tags": ["Feed"],
        "summary": "Like feed",
        "description": "Like a feed once per user",
        "operationId": "likeFeed",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Feed"],
        "summary": "Unlike feed",
        "description": "Cancel like on a feed",
        "operationId": "unlikeFeed",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}/comments": {
      "get": {
        "tags": ["Feed"],
        "summary": "List comments",
        "description": "List all comments for a feed",
        "operationId": "listComments",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedCommentResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Feed"],
        "summary": "Add comment",
        "description": "Add a comment to a feed",
        "operationId": "addComment",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeedCommentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}/applications": {
      "get": {
        "tags": ["Feed"],
        "summary": "List feed applications",
        "description": "List applications for a feed (owner only)",
        "operationId": "listFeedApplications",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedApplicationResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Feed"],
        "summary": "Apply to feed",
        "description": "Apply to a feed with selected stack",
        "operationId": "applyToFeed",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedApplyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}/applications/{applicationId}/reject": {
      "post": {
        "tags": ["Feed"],
        "summary": "Reject application",
        "description": "Reject a feed application (owner only)",
        "operationId": "rejectApplication",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}/applications/{applicationId}/approve": {
      "post": {
        "tags": ["Feed"],
        "summary": "Approve application",
        "description": "Approve a feed application (owner only)",
        "operationId": "approveApplication",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/auth/signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "Sign up",
        "description": "Complete signup after email verification",
        "operationId": "signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/email": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request signup email code",
        "description": "Send verification code for signup",
        "operationId": "requestSignupEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/email/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "Verify signup email code",
        "description": "Verify email code before signup",
        "operationId": "verifySignupEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/email/check": {
      "post": {
        "tags": ["Auth"],
        "summary": "Check email availability",
        "description": "Check if the email is available for signup",
        "operationId": "checkSignupEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmailCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "tags": ["Auth"],
        "summary": "Reset password",
        "description": "Reset password with email and verification code",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/forgot": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request password reset code",
        "description": "Send verification code for password reset",
        "operationId": "requestPasswordReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login",
        "description": "Login with email and password",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": ["User"],
        "summary": "Get my profile",
        "description": "Get the current user's profile",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["User"],
        "summary": "Delete account",
        "description": "Delete the current user's account",
        "operationId": "deleteMe",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update my profile",
        "description": "Update the current user's profile",
        "operationId": "updateMe",
        "requestBody": {
          "description": "Update current user profile",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "example": {
                "name": "string",
                "birthDate": "2026-02-06",
                "gender": "MALE"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users/me/profile-image": {
      "patch": {
        "tags": ["User"],
        "summary": "Set profile image",
        "description": "Set profile image URL for current user",
        "operationId": "setProfileImage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileImageUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users/me/password": {
      "patch": {
        "tags": ["User"],
        "summary": "Change password",
        "description": "Change password after verifying the email code",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users/me/teams": {
      "get": {
        "tags": ["User"],
        "summary": "My teams",
        "description": "Get teams I have joined",
        "operationId": "myTeams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MyTeamResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/roadmaps/{roadmapId}": {
      "get": {
        "tags": ["Roadmap"],
        "summary": "Get roadmap",
        "description": "Get a roadmap created by the current user",
        "operationId": "get",
        "parameters": [
          {
            "name": "roadmapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoadmapResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Roadmap"],
        "summary": "Delete roadmap",
        "description": "Delete a roadmap owned by the current user",
        "operationId": "delete",
        "parameters": [
          {
            "name": "roadmapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/ideas/{ideaId}": {
      "get": {
        "tags": ["Idea"],
        "summary": "Get my idea",
        "description": "Get a single idea created by the current user",
        "operationId": "getMyIdea",
        "parameters": [
          {
            "name": "ideaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdeaResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Idea"],
        "summary": "Delete idea",
        "description": "Delete an idea owned by the current user",
        "operationId": "deleteIdea",
        "parameters": [
          {
            "name": "ideaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/ideas/{ideaId}/recommendations": {
      "get": {
        "tags": ["Startup Recommendation"],
        "summary": "Recommend programs",
        "description": "Recommend startup support programs for an idea",
        "operationId": "recommend",
        "parameters": [
          {
            "name": "ideaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StartupRecommendationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/{feedId}": {
      "get": {
        "tags": ["Feed"],
        "summary": "Get feed detail",
        "description": "Get full idea and AI analysis details",
        "operationId": "getFeedDetail",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeedDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Feed"],
        "summary": "Delete feed",
        "description": "Delete a feed owned by the current user",
        "operationId": "deleteFeed",
        "parameters": [
          {
            "name": "feedId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/applications/me": {
      "get": {
        "tags": ["Feed"],
        "summary": "My applications",
        "description": "Get my application status list",
        "operationId": "listMyApplications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MyApplicationResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/feeds/comments/{commentId}": {
      "delete": {
        "tags": ["Feed"],
        "summary": "Delete comment",
        "description": "Delete a comment owned by the current user",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ProfileImageUploadResponse": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "GeminiTestRequest": {
        "required": ["prompt"],
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          }
        }
      },
      "GeminiTestResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "RoadmapCreateRequest": {
        "required": ["budget", "priority", "teamSize", "timeline"],
        "type": "object",
        "properties": {
          "teamSize": {
            "type": "string"
          },
          "budget": {
            "type": "string"
          },
          "timeline": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          }
        }
      },
      "RoadmapResponse": {
        "type": "object",
        "properties": {
          "roadmapId": {
            "type": "integer",
            "format": "int64"
          },
          "teamSize": {
            "type": "string"
          },
          "budget": {
            "type": "string"
          },
          "timeline": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IdeaCreateRequest": {
        "required": [
          "category",
          "differentiation",
          "problem",
          "solution",
          "stage",
          "targetCustomer",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "problem": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string"
          },
          "targetCustomer": {
            "maxLength": 1000,
            "minLength": 0,
            "type": "string"
          },
          "solution": {
            "maxLength": 3000,
            "minLength": 0,
            "type": "string"
          },
          "differentiation": {
            "maxLength": 2000,
            "minLength": 0,
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "HEALTHCARE",
              "FINTECH",
              "EDUTECH",
              "ECOMMERCE",
              "SAAS",
              "SOCIAL",
              "OTHER"
            ]
          },
          "stage": {
            "type": "string",
            "enum": ["IDEA", "PROTOTYPE", "MVP", "LAUNCHED"]
          }
        }
      },
      "IdeaResponse": {
        "type": "object",
        "properties": {
          "ideaId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "problem": {
            "type": "string"
          },
          "targetCustomer": {
            "type": "string"
          },
          "solution": {
            "type": "string"
          },
          "differentiation": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "HEALTHCARE",
              "FINTECH",
              "EDUTECH",
              "ECOMMERCE",
              "SAAS",
              "SOCIAL",
              "OTHER"
            ]
          },
          "stage": {
            "type": "string",
            "enum": ["IDEA", "PROTOTYPE", "MVP", "LAUNCHED"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AiAnalysisResponse": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "integer",
            "format": "int64"
          },
          "ideaId": {
            "type": "integer",
            "format": "int64"
          },
          "marketScore": {
            "type": "integer",
            "format": "int32"
          },
          "innovationScore": {
            "type": "integer",
            "format": "int32"
          },
          "feasibilityScore": {
            "type": "integer",
            "format": "int32"
          },
          "totalScore": {
            "type": "integer",
            "format": "int32"
          },
          "strength1": {
            "type": "string"
          },
          "strength2": {
            "type": "string"
          },
          "improvements1": {
            "type": "string"
          },
          "improvements2": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FeedCreateRequest": {
        "required": ["ideaId", "positions"],
        "type": "object",
        "properties": {
          "ideaId": {
            "type": "integer",
            "format": "int64"
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedPositionRequest"
            }
          }
        }
      },
      "FeedPositionRequest": {
        "required": ["stack"],
        "type": "object",
        "properties": {
          "stack": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "capacity": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FeedDetailResponse": {
        "type": "object",
        "properties": {
          "feedId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "problem": {
            "type": "string"
          },
          "targetCustomer": {
            "type": "string"
          },
          "solution": {
            "type": "string"
          },
          "differentiation": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "HEALTHCARE",
              "FINTECH",
              "EDUTECH",
              "ECOMMERCE",
              "SAAS",
              "SOCIAL",
              "OTHER"
            ]
          },
          "stage": {
            "type": "string",
            "enum": ["IDEA", "PROTOTYPE", "MVP", "LAUNCHED"]
          },
          "authorName": {
            "type": "string"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          },
          "likedByMe": {
            "type": "boolean"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedMemberResponse"
            }
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedPositionStatusResponse"
            }
          },
          "marketScore": {
            "type": "integer",
            "format": "int32"
          },
          "innovationScore": {
            "type": "integer",
            "format": "int32"
          },
          "feasibilityScore": {
            "type": "integer",
            "format": "int32"
          },
          "totalScore": {
            "type": "integer",
            "format": "int32"
          },
          "strength1": {
            "type": "string"
          },
          "strength2": {
            "type": "string"
          },
          "improvements1": {
            "type": "string"
          },
          "improvements2": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FeedMemberResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          }
        }
      },
      "FeedPositionStatusResponse": {
        "type": "object",
        "properties": {
          "stack": {
            "type": "string"
          },
          "capacity": {
            "type": "integer",
            "format": "int32"
          },
          "filled": {
            "type": "integer",
            "format": "int32"
          },
          "remaining": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "FeedCommentRequest": {
        "required": ["content"],
        "type": "object",
        "properties": {
          "content": {
            "maxLength": 1000,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "FeedCommentResponse": {
        "type": "object",
        "properties": {
          "commentId": {
            "type": "integer",
            "format": "int64"
          },
          "authorName": {
            "type": "string"
          },
          "authorProfileImageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "FeedApplyRequest": {
        "required": ["stack"],
        "type": "object",
        "properties": {
          "stack": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "SignupRequest": {
        "required": ["email", "name", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "maxLength": 100,
            "minLength": 6,
            "type": "string"
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "EmailRequest": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "EmailVerifyRequest": {
        "required": ["code", "email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "EmailCheckResponse": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          }
        }
      },
      "PasswordResetRequest": {
        "required": ["code", "email", "newPassword"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "required": ["email", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          },
          "profileImageUrl": {
            "type": "string"
          }
        }
      },
      "ProfileImageUpdateRequest": {
        "required": ["imageUrl"],
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "PasswordChangeRequest": {
        "required": ["code", "newPassword"],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "MyTeamResponse": {
        "type": "object",
        "properties": {
          "feedId": {
            "type": "integer",
            "format": "int64"
          },
          "ideaTitle": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StartupRecommendationItem": {
        "type": "object",
        "properties": {
          "pbancSn": {
            "type": "string"
          },
          "bizPbancNm": {
            "type": "string"
          },
          "suptBizClsfc": {
            "type": "string"
          },
          "pbancCtnt": {
            "type": "string"
          },
          "aplyTrgt": {
            "type": "string"
          },
          "aplyTrgtCtnt": {
            "type": "string"
          },
          "bizEnyy": {
            "type": "string"
          },
          "suptRegin": {
            "type": "string"
          },
          "detlPgUrl": {
            "type": "string"
          },
          "aplyMthdOnliRcptIstc": {
            "type": "string"
          },
          "bizGdncUrl": {
            "type": "string"
          },
          "pbancNtrpNm": {
            "type": "string"
          },
          "pbancRcptBgngDt": {
            "type": "string",
            "format": "date"
          },
          "pbancRcptEndDt": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "StartupRecommendationResponse": {
        "type": "object",
        "properties": {
          "ideaId": {
            "type": "integer",
            "format": "int64"
          },
          "analysisId": {
            "type": "integer",
            "format": "int64"
          },
          "candidateCount": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StartupRecommendationItem"
            }
          }
        }
      },
      "FeedListItemResponse": {
        "type": "object",
        "properties": {
          "feedId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "problem": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "HEALTHCARE",
              "FINTECH",
              "EDUTECH",
              "ECOMMERCE",
              "SAAS",
              "SOCIAL",
              "OTHER"
            ]
          },
          "authorName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "commentCount": {
            "type": "integer",
            "format": "int64"
          },
          "likeCount": {
            "type": "integer",
            "format": "int64"
          },
          "totalScore": {
            "type": "integer",
            "format": "int32"
          },
          "likedByMe": {
            "type": "boolean"
          }
        }
      },
      "FeedApplicationResponse": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64"
          },
          "applicantName": {
            "type": "string"
          },
          "applicantProfileImageUrl": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "REJECTED"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MyApplicationResponse": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "integer",
            "format": "int64"
          },
          "feedId": {
            "type": "integer",
            "format": "int64"
          },
          "ideaTitle": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "REJECTED"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
